/* Estilos */
h1 {
  font-size: 90px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
}

h2 {
  font-size: 45px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
}

h3 {
  font-size: 30px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
}

h4 {
  font-size: 22.5px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
}

h5 {
  font-size: 18px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body {
  background-color: #86e0e1;
}

ol {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

ul {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Fin de estilos */
/* Header y Menu */
div.logo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fe4f8a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

div.logo__menu img {
  width: 70%;
  height: 70%;
}

div.logo__menu a:link {
  text-decoration: none;
}

div.menu__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div.menu__text ul li a {
  font-family: 'Baloo Bhai 2', cursive;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  padding: 11px;
}

div.menu__text a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

div.menu__text a:hover, div.menu__text a:focus {
  background-size: 100% 2px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(/Heladeria-Cherry/images/icono.svg);
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: black;
}

header {
  border-bottom: solid black;
  border-width: 15px;
  background-color: #fe4f8a;
}

/* Fin Header y Menu */
/* Slider */
.slider {
  border-bottom: 15px solid black;
  width: 100%;
}

/* Fin Slider */
/* Historia */
.history {
  margin-top: 25px;
}

.history__container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

h2.history {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 38px;
}

div.history__container--ph img {
  width: 860px;
  height: auto;
  border-radius: 8%;
  box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  div.history__container--ph img {
    width: 1160px;
    height: 742px;
  }
}

div.history__container--text {
  background: -webkit-gradient(linear, left top, right top, from(#FE4F8A), to(#ff9472));
  background: linear-gradient(to right, #FE4F8A, #ff9472);
  border-radius: 8%;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 483px) and (max-width: 1200px) {
  div.history__container--text {
    margin-top: 25px;
  }
}

div.history__container--text .history__parrafo {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 10px;
  height: 50px;
  color: black;
}

/* Historia (index.html) */
/* Productos (index.html) */
.grid__content {
  padding-left: 20px;
  padding-right: auto;
  margin-top: 25px;
}

div.content__product1 img {
  width: 425px;
  height: auto;
  margin-top: 25px;
  border-radius: 16%;
  box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

div.content__product1 h3 {
  text-align: center;
  padding-left: 25px;
}

div.content__product1 p {
  padding-left: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  margin-top: 25px;
}

div.content__product2 img {
  width: 425px;
  height: auto;
  margin-top: 25px;
  border-radius: 16%;
  box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

div.content__product2 h3 {
  padding-left: 25px;
  text-align: center;
}

div.content__product2 p {
  padding-left: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  margin-top: 25px;
}

div.content__product3 img {
  width: 425px;
  height: auto;
  margin-top: 25px;
  border-radius: 16%;
  box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

div.content__product3 h3 {
  padding-left: 25px;
  text-align: center;
}

div.content__product3 p {
  padding-left: 25px;
  font-size: 18px;
  margin-top: 25px;
}

/* Fin Productos */
/* Mapa */
div.map__container--background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  border-top: solid black;
  border-width: 15px;
}

div.map__container--background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 550px;
  opacity: 0.4;
}

div.map__container {
  padding-bottom: 25px;
}

h3.title__map {
  font-size: 35px;
  font-family: 'Baloo Bhai 2', cursive;
  color: black;
  text-align: center;
  padding-top: 25px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

iframe.google__map {
  position: relative;
  z-index: 2;
}

/* Fin de Mapa */
/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 128px;
  background-color: black;
  border-top: solid #fe4f8a;
  border-width: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -6px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer img {
  width: 25px;
  height: 25px;
}

footer ul li a {
  padding: 20px;
}

div.footer__copy--text {
  margin-top: 8px;
}

div.footer__copy--text h3 {
  font-size: 16px;
  color: white;
  padding-left: 20px;
}

@media (max-width: 768px) {
  div.footer__copy--text {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  div.footer__copy--text h3 {
    font-size: 11px;
  }
}

div.footer__copy--left {
  padding-left: 60px;
}

div.footer__copy--left h3 {
  font-size: 16px;
  color: white;
}

@media (max-width: 576px) {
  div.footer__copy--left h3 {
    font-size: 11px;
  }
}

span.author {
  color: #fe4f8a;
}

/* Fin de Footer */
/* Boton de Whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float :hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/* Fin de boton de Whatsapp */
/* Formulario de Contacto */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 20px;
  display: inline-block;
  font-weight: 500;
}

/* Style the submit button */
input[type=submit] {
  background-color: #fe4f8a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-weight: 700;
}

/* Style the container */
.container__form {
  border: black solid 8px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Fin de formulario de Contacto */
/* PAGINA CONTACTO */
div.container__contact h2 {
  color: black;
  text-align: center;
  margin-top: 20px;
}

div.container__contact--info p {
  color: black;
  margin-top: 20px;
}

div.container__contact--info span {
  font-weight: bold;
}

div.container__contact--info p.container__contact--open {
  font-size: 15px;
  margin-bottom: 20px;
}

/* FIN PAGINA CONTACTO */
/* INICIO PAGINA HEALTHY */
div.healthy__img {
  width: 100%;
  border-bottom: solid black;
  border-width: 15px;
}

div.healthy__img img {
  height: 350px;
  width: auto;
}

div.container__healthy--text h2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

div.container__healthy--text h3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

div.container__healthy--text p {
  padding-left: 20px;
  padding-right: 20px;
}

h3.healthy__text--h3 {
  text-align: center;
}

h2.healthy__text--h2 {
  text-align: center;
}

div.healthy__text--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

div.healthy__text--img img {
  width: 1050px;
  height: 412px;
  border-radius: 16%;
}

div.container__healthy--text ol li {
  list-style-type: none;
  counter-increment: lista;
  /* Un nombre identificativo que te guste */
  position: relative;
  line-height: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

div.container__healthy--text ol li::before {
  color: #fe4f8a;
  font-weight: bold;
  font-size: 35px;
  content: counter(lista) "-";
  /* Indica el separador para tu contenido */
  left: -38px;
  position: absolute;
  text-align: right;
  width: 35px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 30px;
}

div.container__healthy--text ul {
  list-style: none;
  padding: 0px;
  line-height: 30px;
  padding-right: 25px;
  padding-left: 20px;
  margin-bottom: 25px;
}

div.container__healthy--text ul li::before {
  content: "\2022";
  color: #fe4f8a;
  display: inline-block;
  padding-right: 35px;
  font-size: 55px;
  line-height: 30px;
  vertical-align: -11px;
  width: 5px;
}

/* FIN PAGINA HEALTHY */
/* Inicio pagina Postres  */
h2.postres__h2--text {
  text-align: center;
}

div.postres {
  padding-left: 25px;
  padding-right: 25px;
}

div.postres img {
  width: 400px;
  height: auto;
}

/* Fin pagina Postres */
/* Pagina Helados */
div.helados {
  margin-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

div.helados img {
  width: 250px;
  height: auto;
}

h2.helados__h2--text {
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

div.helados img {
  width: 180px;
  height: auto;
}

div.helados p {
  text-align: left;
}

main.id.container__helados {
  padding-left: 25px;
  padding-right: 25px;
}

/* Fin de pagina Helados */
/*# sourceMappingURL=estilos.css.map */
