/* Archivos importados SASS */

@import "/styles/estilos.css";

/* Fin de archivos importados Sass */

/* Estilos */
h1 {
    font-size: 50px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

h2 {
    font-size: 45px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
}

h3 {
    font-size: 35px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black
}

h4 {
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
}

h5 {
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

h6 {
    font-size: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

body {
    background-color: #86e0e1;

}

ol {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}

ul{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* FIN ESTILOS */

/* HEADER Y MENU */

div.logo__menu {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fe4f8a;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

div.logo__menu img{
    width: 70%;
    height: 70%;
}

div.logo__menu a:link{
    text-decoration: none;
}

div.menu__text ul {
    display: flex;
    list-style: none;
    
}

div.menu__text ul li a   {
    font-family: 'Baloo Bhai 2', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    padding: 11px;
}

div.menu__text a {
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

div.menu__text a:hover, a:focus {
    background-size: 100% 2px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(/images/icono.svg);

}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}

header {
    border-bottom: solid black;
    border-width: 15px;
    background-color: #fe4f8a;
}

/* FIN HEADER Y MENU */

/* SLIDER */

.slider {
    border-bottom: 15px solid black;
    width: 100%;
}

/* FIN SLIDER */

/* Historia */

.history {
    margin-top:25px ;
}

.history__container{
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap:  3px;
    padding-left: 20px;
    padding-right: 20px;
    
}

h2.history {
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 38px;
    
}

div.history__container--ph img{
    width: 860px;
    height: 550px;
    border-radius: 8%;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    

}

@media only screen and (min-width: 901px) and  (max-width: 1200px)  {
    div.history__container--ph img {
        width: 1160px;
        height: 742px;
    }

}

div.history__container--text { 
    background: linear-gradient(to right, #FE4F8A, rgb(255, 148, 114));
    border-radius: 8%; 
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    
}

@media only screen and (min-width: 483px) and (max-width: 1200px) {  
    div.history__container--text {
        margin-top: 25px;
    }
}

div.history__container--text .history__parrafo {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 10px;
    height: 50px;
    color: black;
}

/* FIN HISTORIA */

/* PRODUCTOS */
.grid__content {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
}

div.content__product1 img{
    width: 425px;
    height: 400px;
    margin-top: 25px;
    border-radius: 16%;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    

}

div.content__product1 h3 {
    text-align: center;
    padding-left: 25px;
}

div.content__product1 p {
    padding-left: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: 25px;
}

div.content__product2 img{
    width: 425px;
    height: 400px;
    margin-top: 25px;
    border-radius: 16%;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);

}

div.content__product2 h3 {
    padding-left: 25px;
    text-align: center;
}

div.content__product2 p {
    padding-left: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: 25px;
}

div.content__product3 img{
    width: 425px;
    height: 400px;
    margin-top: 25px;
    border-radius: 16%;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.75);

}

div.content__product3 h3 {
    padding-left: 25px;
    text-align: center;
}

div.content__product3 p {
    padding-left: 25px;
    font-size: 18px;
    margin-top: 25px;
}

/* FIN PRODUCTOS */

/* Mapa */

div.map__container--background {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-top: solid black;
    border-width: 15px;
}

div.map__container--background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
    opacity: 0.4;
    
}

div.map__container {
    padding-bottom: 25px;
    
}

h3.title__map {
    font-size: 35px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
    text-align: center;
    padding-top: 25px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

iframe.google__map {
    position: relative;
    z-index: 2;

}
/* Fin de Mapa */

/* FOOTER */

footer{
    display: flex;
    width: 100%;
    height: 128px;
    background-color: black;
    border-top: solid #fe4f8a;
    border-width: 15px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -6px;

}

div.socialicons {
    padding-top: 18px;
}

footer ul {
    display: flex;
    list-style: none;
    
}

footer img {
    width: 25px;
    height: 25px;

}

footer ul li a {
    padding: 20px;
}

div.footer__copy--text{
    margin-top: 8px;
}

@media (max-width: 768px) { 
    div.footer__copy--text {
        margin-top: 20px;
    }
}

div.footer__copy--text h3 { 
    font-size: 16px;
    color: white;
    padding-left: 20px;

}

@media (max-width: 576px) {
    div.footer__copy--text h3 {
        font-size: 11px;
    }
}

div.footer__copy--left {
    padding-left: 60px;
}

div.footer__copy--left h3 { 
    font-size: 16px;
    color: white;
}

@media (max-width: 576px) {
    div.footer__copy--left h3{
        font-size: 11px;
    }
}

span.author {
    color: #fe4f8a;
}

/* Fin de Footer */

/* Boton de Wsp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* Fin del Boton de Wsp */

/* FORMULARIO CONTACTO */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 20px;
    display: inline-block;
    font-weight: 500;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #fe4f8a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-weight: 700;
  }
  
  /* Style the container */
    .container__form {
    border: black solid 8px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /* FIN FOMULARIO DE Contacto */
